<!--Navbar-->
<mdb-navbar id="navbar" SideClass="navbar navbar-expand-lg blue navbar-dark  lighten-1 sticky-top" [containerInside]="false" >

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand">SL.Travel</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/home" routerLinkActive="active">DESTINATIONS</a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/homeservice" routerLinkActive="active" mdbWavesEffect>SERVICES</a>
        </li>
      <!-- <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/addnewtravelpage" routerLinkActive="active">ADD DESTINATION</a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/addnewservicepage" routerLinkActive="active">ADD SERVICE </a>
        </li> -->
    
      <!-- Dropdown -->
      <!-- <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" routerLink="/crisis-center" routerLinkActive="active" mdbWavesEffect >Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li> -->

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <!-- <li class="nav-item">
        <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
      </li> -->
      <!-- <li class="nav-item avatar dropdown" dropdown> -->
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img id="pp" [src]="backurl+'back1.jpg'" alt="" class="img-fluid rounded-circle z-depth-0" ></a>
        <!-- <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div> -->
      <!-- </li> -->
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->